/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}
.header{
    background-color: white;
    font-size: 18px;
}
h1 {
    text-align: left;
}

ul {
    list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
}
li {
    float: right;
}
li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: #6b7280;
 }
 li a:hover {
    background-color: #5A67D8;
  }
  
.overview-hero{
    margin: 20px 20px 0 0;  
    border:5px;
    overflow: auto;
    background-color: #E2E8F0;
}
.overview-hero-image{
    float: left;
}
.overview-hero-image img{
   display: block;
   border-radius: 4px;
   padding: 5px;
   width: 150px;
   margin: 20px 20px 20px 20px;
}
.overview-hero-text{
    float: right;
    text-align: right;
    margin: 20px 20px 20px 20px;
}
.learn-about h2 {
    font-size: 24px;
    color: #48BB78;
}
.learn-about h3{
    color: #48BB78;
    font-size: 21px;
}

.cards{
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    align-items: center;
    justify-items: center;
    border: 5px;   

}
.cards::after{
    content: "";
    display: table;
    clear: both;
}
.card{
    font-size: 16px;
    float: left;
    width: 85%;
    height: 95%;
    padding: 5px;
    box-shadow:10px 10px 8px 10px #E2E8F0; 
    margin: 6px;;
}
.cards img{
    border: 1px ;
    border-radius: 4px;
    padding: 5px;
    width: 150px ;
    margin: 20px 20px 20px 20px;
}
.card-body{
    margin: 20px 20px 20px 20px;
}
.testing{  
    border:5px;
    overflow: auto;
    background-color: #4A5568;
    color: white;
}
.testing-desciption{
    margin: 20px 20px 20px 20px;
    display: inline-block;
}
.btn{
    background-color: #48BB78;
    border-radius: 5px;
    float: right;
}
.stories h2,p a{
    color: #5A67D8;
}
.stories img{
    border-radius: 50%;
    padding: 5px;
    width: 150px;
    
}
.footer .container{
    background-color: #4A5568;
    color: white;
}