/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

.container {
    margin-inline: auto;
    padding: 0 15px;
    max-width: 960px;
    width: 100%;
}
header .container{
    background-color: white;
    font-size: 18px;
    display: flex;
}
h1 {
    text-align: left;
    display: block;
}

nav ul {
    border-radius: 5px;
    display: flex;
    list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     float: left;
}

li a {
    text-align: center;
    padding: 16px;
    color: #6b7280;
 }
 li a:hover {
    background-color: #5A67D8;
  }
  
.overview-hero{
    text-align: left;
    background-color: #E2E8F0;
}
.overview-hero .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
}

.overview-hero-image {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px 20px 20px 20px;
}
.overview-hero-image img {
   border-radius: 4px;
   padding: 5px;
   width: 150px;

}
.overview-hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    float: right;
    text-align: left;
    margin: 20px 20px 20px 30px;
}
.learn-about h2 {
    font-size: 24px;
    color: #48BB78;
}
.learn-about h3{
    color: #48BB78;
    font-size: 21px;
}

.cards{
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    align-items: center;
    justify-items: center;
    border: 5px;   

}
.cards::after{
    content: "";
    display: table;
    clear: both;
}
.card{
    font-size: 16px;
    float: left;
    width: 85%;
    height: 91%;
    padding: 5px;
    box-shadow:0px 0px 5px 5px #E2E8F0; 
    margin: 6px;;
}
.cards img{
    border: 1px ;
    border-radius: 4px;
    padding: 5px;
    width: 150px ;
    height: 130px; ;
    margin: 20px 20px 20px 20px;
}
.card-body{
    margin: 20px 20px 20px 20px;
}
.testing{
    background-color: #4A5568;
    padding-top: 35px;
    padding-bottom: 35px;
    
}
.testing .container{
    
    order:5px;
    color: white;
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
    

}
.testing-desciption h2, .testing-desciption p{
    margin: 20px 20px 20px 20px;
    display: flex;
    align-items: left;
    justify-content: left;
    float: left;
}
.testing .cta .btn{
    background-color: #48BB78;
    color: white;
    border-radius: 5px;
    padding: 0.6875rem 1.16875rem;
    display: flex;
    text-transform: capitalize; 
}
.stories article{
    display: flex;
}
.stories h2,.stories p a{
    color: #5A67D8;
}
.stories h3,.stories p{ 
    
    align-items: left;
    justify-content: left;
    
}
.stories .container img{
    border-radius: 50%;
    padding: 5px;
    width: 150px;
    margin: 20px 20px 20px 20px;
    
}

.stories .article-body{
    margin: 20px 20px 20px 30px;
}

.newsletter {
    background-color: #48BB78;
    color: white;
}
.newsletter .container{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 20px 20px 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.newsletter form {
    display: flex;
    justify-content: center;
    gap: 5px;
    text-align: center;
}
.newsletter .form-group input{
    width: 200px;
    height: 20px;
}
.newsletter .btn{
    color: white;
    background-color: #5A67D8;
    border-radius: 5px;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    padding: 0.6875rem 1.16875rem 1rem 1rem;
    text-align: center;
}
footer{
    background-color: #4A5568;
    color: white;
    padding-top: 30px;
}